extends ../layouts/bootstrap

block content
    .container
        h1.display-4.mb-4 Create user
        form(action="/users/create" method="POST")
            .form-group
                lable(for="firstName") First Name
                input(type="text" id="firstName" name="firstName" class="form-control")
            .form-group
                lable(for="lastName") Last Name
                input(type="text" id="lastName" name="lastName" class="form-control")
            .form-group
                lable(for="email") Email
                input(type="email" id="email" name="email" class="form-control")
            button(type="submit" class="btn btn-primary w-30") Submit

