extends ../layouts/bootstrap

block content
	.container
		h1.display-4.mb-5 User List
		form(action="/users/search" method="GET" class="form-inline mb-2")
			.form-group
				input(type="text" name="q" class="form-control mr-3" value=q placeholder="Enter name to find...")
				button(type="submit" class="btn btn-primary") Submit
				a.btn.btn-primary.ml-2(href="/users/create") +

		table.table.table-striped
			thead
				tr
					th Fisrt Name
					th Last Name
					th Email
					th Control
			tbody
				each user in users
					tr
						td
							span= user.firstName
						td
							span= user.lastName
						td
							span= user.email
						td
							a(href="/users/view/"+user.id).btn.btn-info info


		