extends ../layouts/bootstrap

block content
    .container
        h1.mb-5 VIEW
        .card.border-0.shadow(style="width: 18rem;")
            img(src="https://picsum.photos/300/200" class="card-img-top")
            .card-body
                h5.card-title #{user.firstName +' '+ user.lastName}
                p.card-text #{user.email}


